<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ pageTitle }}
  </h1>  
</div>
<nav class='navbar navbar-expand navbar-light bg-light' *ngIf="currentUser" >    
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/members']">Members</a></li>
      <li><a (click)="logout()" class="right">Logout</a></li>
    </ul>
</nav>
<div class='container-fluid'>
  <router-outlet></router-outlet>
</div>
