h1 {
    color: #337AB7;
  }
  input[type=text] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=checkbox] {
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #text {
    padding: 4px;
    margin: 4px;
    align-content: center
}
a.right {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top :10px;
}