<div class='card'>
  <div class='card-header'>
    {{pageTitle + ': ' + familyInfo.Name}}
  </div>
  <form #familyForm="ngForm" (ngSubmit)="familyForm.form.valid && add()" novalidate>
    <div class='row'>
      <div class='col-md-12'>
        <div><b>
            <h5>Family Information</h5>
          </b>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Name:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' class="form-control" name="name" [(ngModel)]='familyInfo.Name' #name="ngModel" required 
              pattern="^[\w\s-]+$" 
              minlength="3" maxlength="30" [ngClass]="{ 'is-invalid': familyForm.submitted && name.invalid }" />
            <div *ngIf="familyForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
              <div *ngIf="name.errors.pattern">Name is not valid.</div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">DOB:</Label>
          </div>
          <div class='col-md-7'>
            <input type='date' [(ngModel)]='familyInfo.DOB' name="DOB"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Gender:</Label>
          </div>
          <div class='col-md-7'>
            <select class="form-control" name="gender" required [(ngModel)]='familyInfo.Gender' #gender="ngModel" required
            (ngModelChange)='onGenderSelected($event)' [ngClass]="{ 'is-invalid': familyForm.submitted && gender.invalid }">
                <option class='gender' *ngFor='let gender of genders' [value]="gender">{{gender}}</option>
            </select>            
            <div *ngIf="familyForm.submitted && gender.invalid" class="invalid-feedback">
                <div *ngIf="gender.errors.required">Please select family member gender.</div>
              </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Married:</Label>
          </div>
          <div class='col-md-7'>
            <input type='checkbox' [(ngModel)]='familyInfo.IsMarried' name="isMarried"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Dependent:</Label>
          </div>
          <div class='col-md-7'>
            <input type='checkbox' [(ngModel)]='familyInfo.IsDependent' name="isDependent"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Occupation:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' [(ngModel)]='familyInfo.Occupation' name="occupation"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Membership Number:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' [(ngModel)]='familyInfo.MembershipNumber' name="membershipNumber"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Relationship:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' [(ngModel)]='familyInfo.Relationship' name="relationship"/>
          </div>
        </div>
      </div>
    </div>
    <div class='card-footer'>
      <button class='btn btn-outline-secondary' (click)='close()' style='width:80px'> Cancel
      </button>
      <button class='btn btn-outline-secondary' style='width:80px;margin: 0px 4px'> Save
      </button>
    </div>
  </form>
</div>