<div class='card'>
  <div class='card-header'>
    {{pageTitle + ': ' + familyInfo.Name}}
  </div>
  <form #familyForm="ngForm" (ngSubmit)="familyForm.form.valid && add()" novalidate style="margin:8px;">
    <div class='row'>
      <div class='col-md-12'>
        <div><b>
            <h5>Family Information</h5>
          </b>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <Label type="text">Name:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' class="form-control" name="name" [(ngModel)]='familyInfo.Name' #name="ngModel" required 
              pattern="^[\w\s-]+$" 
              minlength="3" maxlength="30" [ngClass]="{ 'is-invalid': familyForm.submitted && name.invalid }" />
            <div *ngIf="familyForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
              <div *ngIf="name.errors.pattern">Name is not valid.</div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <Label type="text">DOB:</Label>
          </div>
          <div class='col-md-7'>
            <input type='date' [(ngModel)]='familyInfo.DOB' name="DOB"/>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <Label type="text">Gender:</Label>
          </div>
          <div class='col-md-7'>
            <select class="form-control" name="gender" required [(ngModel)]='familyInfo.Gender' #gender="ngModel" required
            (ngModelChange)='onGenderSelected($event)' [ngClass]="{ 'is-invalid': familyForm.submitted && gender.invalid }">
                <option class='gender' *ngFor='let gender of genders' [value]="gender">{{gender}}</option>
            </select>            
            <div *ngIf="familyForm.submitted && gender.invalid" class="invalid-feedback">
                <div *ngIf="gender.errors.required">Please select family member gender.</div>
              </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>
            <Label type="text">Married:</Label>
            <input type='checkbox' [(ngModel)]='familyInfo.IsMarried' name="isMarried" style="margin-top:15px;" />
          </div>
        
          <div class='col-md-4'>
            <Label type="text">Dependent:</Label>
            <input type='checkbox' [(ngModel)]='familyInfo.IsDependent' name="isDependent" style="margin-top:15px;" />
          </div>
        
          <div class='col-md-4'>
            <Label type="text">Is Member:</Label>
            <input type='checkbox' [(ngModel)]='familyInfo.IsMember' name="isMember" style="margin-top:15px;"/>
        
          </div>
        </div>
        <div class='row'>
          <div class='col-md-5'>
            <Label type="text">Membership Number:</Label>
          </div>
          <div class='col-md-7'>
            <input type='text' [(ngModel)]='familyInfo.MembershipNumber' [disabled]='!familyInfo.IsMember' name="membershipNumber"
            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" onpaste="return false"/>
          </div>
        </div>
        <div class='row'>
            <div class='col-md-5'>
              <Label type="text">Occupation:</Label>
            </div>
            <div class='col-md-7'>
              <input type='text' [(ngModel)]='familyInfo.Occupation' name="occupation"/>
            </div>
          </div>
        <div class='row'>
          <div class='col-md-5'>
            <Label type="text">Relationship:</Label>
          </div>
          <div class='col-md-7'>
            <select class="form-control" name="relationship" required [(ngModel)]='familyInfo.Relationship' #relationship="ngModel" required
            (ngModelChange)='onRelationSelected($event)' [ngClass]="{ 'is-invalid': familyForm.submitted && relationship.invalid }">
                <option class='relationship' *ngFor='let relationship of relationships' [value]="relationship">{{relationship}}</option>
            </select>            
            <div *ngIf="familyForm.submitted && relationship.invalid" class="invalid-feedback">
                <div *ngIf="relationship.errors.required">Please select relation with member.</div>
              </div>
              <input type='text' class="form-control" name="others" [(ngModel)]='familyInfo.OtherRelationship' *ngIf="familyInfo.IsOtherRelationship == true" />           
          </div>
        </div>
      </div>
    </div>
    <div class='card-footer'>
      <button class='btn btn-outline-secondary' (click)='close()' style='width:80px'> Cancel
      </button>
      <button class='btn btn-outline-secondary' style='width:80px;margin: 0px 4px'> Save
      </button>
    </div>
  </form>
</div>