<div class='card'>
        <div class='card-header'>
          Family Info
          <a [routerLink]="['/members/edit']" class="right">Add</a>
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class="table table-striped table-hover" *ngIf='filteredMembers && filteredMembers.length'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Relationship</th>
                  <th>DOB</th>
                  <th>Occupation</th>
                  <th>Is Member</th>
                  <th>Membership Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let member of filteredMembers'>
                  <td>{{ familyinfo.Name }}</td>
                  <td>{{ familyinfo.Relationship }}</td>
                  <td>{{ familyinfo.DOB }}</td>
                  <td>{{ familyinfo.Occupation }}</td>
                  <td>{{ familyinfo.IsMember }}</td>
                  <td>{{ familyinfo.MembershipNumber }}</td>
                  <td>
                    <a [routerLink]="['/members/edit',member._id]">
                      Edit
                    </a>
                    <a [routerLink]="" (click)="onDelete(member._id)">Delete</a>
                    <!-- <button type="button" (click)="onViewCLick()">Edit</button>
                        <button type="button">View</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div *ngIf='errorMessage'
             class='alert alert-danger'>
           Error: {{ errorMessage }}
        </div> -->