<div class='card'>
  <div class='card-header'>
    {{pageTitle + ': ' + familymember.Name}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>
            <p type="text">Name:</p>
            </div>
          <div class='col-md-8'>
                <input type='text' [(ngModel)]='familymember.Name' />
            </div>
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
              <p type="text">DOB:</p>
            </div>
          <div class='col-md-8'>
                <input type='date' [(ngModel)]='familymember.DOB' />
            </div>           
        </div>
        <div class='row'>
          <div class='col-md-4'>
              <p type="text">Gender:</p>
            </div>
          <div class='col-md-8'>
                <input type='text' [(ngModel)]='familymember.Gender' />
            </div>           
        </div>
        <div class='row'>
          <div class='col-md-4'>
              <p type="text">Married:</p>
            </div>
          <div class='col-md-8'>
                <input type='checkbox' [(ngModel)]='familymember.IsMarried' />
            </div>           
        </div>
        <div class='row'>
            <div class='col-md-4'>
                <p type="text">Is Dependent:</p>
              </div>
            <div class='col-md-8'>
                  <input type='checkbox' [(ngModel)]='familymember.IsDependent' />
              </div>           
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
              <p type="text">Occupation:</p>
            </div>
          <div class='col-md-8'>
                <input type='text' [(ngModel)]='familymember.Occupation' />
            </div> 
        </div>
        <div class='row'>
          <div class='col-md-4'>
              <p type="text">Membership Number:</p>
            </div>
          <div class='col-md-8'>
                <input type='text' readonly [(ngModel)]='familymember.MembershipNumber' />
            </div>           
        </div>        
    </div>
    <div class='card-footer'>