<div class='card'>
    <div class='card-header'>
      {{pageTitle}}       
     <a [routerLink]="['/members/edit']" class="right">Add</a>  
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>
          <Label type="text">Filter by:</Label>
        </div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]='listFilter' />
        </div>
        <div class="col-md-2">
          <button class='btn btn-light' (click)='openAdvancedSearch()'>Advance Search</button>
        </div>
      </div>
      <div class='row' *ngIf='listFilter'>
        <div class='col-md-6'>
           <h4>Filtered by: {{listFilter}}</h4>          
        </div>
      </div>
      <div class='table-responsive'>
        <table class="table table-striped table-hover"
               *ngIf='filteredMembers && filteredMembers.length'>
          <thead class="thead-light">
            <tr>              
              <th>Name</th>
              <th>Father's Name</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>Occupation</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let member of filteredMembers'>               
              <td>{{ member.Name }}</td>
              <td>{{ member.FatherName }}</td>
              <td>{{ member.DOB }}</td>
              <td>{{ member.Gender}}</td>
              <td>{{ member.Occupation}}</td>
              <td>
                    <a [routerLink]="['/members/view',member._id]">
                        View
                      </a>
                      <a [routerLink]="['/members/edit',member._id]">
                        Edit
                      </a>                     
                      <a [routerLink]="" (click)="onDelete(member._id)">Delete</a>
                  <!-- <button type="button" (click)="onViewCLick()">Edit</button>
                  <button type="button">View</button> -->
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div *ngIf='errorMessage'
       class='alert alert-danger'>
     Error: {{ errorMessage }}
  </div> -->