h5{
  padding: 4px;
  margin: 4px;
}
input[type=text] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  thead {
    color: #337AB7;
  }
  a.right {
    position: absolute;
    right: 0;
    margin-right: 20px
}
  input[type=email] {
    width: 100%;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=checkbox] {
    padding: 4px;
    margin: 4px;
    position: absolute !important;
    margin-top:5%;        
  }
  #text {
    padding: 4px;
    margin: 4px;
    align-content: center
}
label{
  padding: 4px;
  margin: 4px;
  align-content: center
}

button.right {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: -5px;  
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
} 
